* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  
  header {
    width: 100%;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  i {
    color: #FFF;
  }
  
  .header-icons {
    display: flex;
    gap: 14px;
  }
  
  .header-icons a:hover i {
    color: #d34040;
    animation: translaterY 0.8s infinite alternate;
  }
  
  @keyframes translaterY {
    from {
      transform: translateY(0) scale(1);
    }
    to {
      transform: translateY(-8px) scale(1.1);
    }
  }
  .header-button {
    border: 1px solid #FFF;
    padding: 8px 24px;
    border-radius: 4px;
    color: #FFF;
    background-color: transparent;
    transition: background-color 0.8s;
  }
  
  .header-button:hover {
    border: 1px solid #d34040;
    background-color: #d34040;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
  }
  
  @media screen and (max-width: 768px) {
    .header-content {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .header-content i {
      margin-top: 16px;
      font-size: 34px;
    }
    .header-logo img {
      width: 160px;
      margin-top: 46px;
    }
    .header-button {
      display: none;
    }

  }



  /* BG HOME */
  .container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 8px;
  }
  
  .bg-home {
      position: relative;
  }
  
  .bg-home::before {
      content: "";
      display: block;
      position: absolute;
      background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1),#06121e ), url(assets/bg.svg);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.9;
      background-position: 50% 0;
  }

  
  
  body {
      font-family: "Sora", sans-serif;
      width: 100%;
      height: 100vh;
      position: relative;
      background-color: #06121e;
  }

legend {
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
  padding-bottom: 30px;
}

.form {
  width: 100%;
  height: 100vh;
  display: flex;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.agenda {
  display: block;
  margin: auto;
  box-shadow: -2px 3px 90px 30px rgba(0, 0, 0, 0.90);
  border-radius: 30px;
  padding: 50px;
}

.inp label {
  display: block;
  padding: 5px 0;
}

.inp input {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
}

.btn {
  padding-top: 10px;
}

.btn input {
  background-color: #d34040;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.btn input:hover {
  animation: flutuar 0.8s alternate infinite;
}

@keyframes flutuar{
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px){
  .agenda {
    padding: 50px 5px;
  }
}